.slgAutoComplete {
	z-index: 1;
	position: absolute;
	overflow-y: auto;
	overflow-x: hidden;
}

.slgAutoComplete .slgAutoCompleteHighlight {
	font-weight: bold;
}

.slgAutoComplete li {
	cursor: pointer
}